<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- log4net 설정을 읽도록 추가 -->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net> <!-- log4net 설정 시작 -->
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/log.log" /> <!-- 기본 로그 파일 경로 및 이름 -->
			<!--<datepattern value="yyyy\\\\MM\\\\dd\\\\yyyy-MM-dd_'ALL.log'"/>-->
			<datepattern value="yyyy\\MM\\dd\\yyyy-MM-dd_'ALL.log'"/> <!-- 로그 파일의 경로 및 파일 이름 -->
			<appendToFile value="true" /> <!-- 기존 로그 파일에 추가 -->
			<rollingStyle value="Date" /> <!-- 날짜별로 로그 파일 분할 -->
			<staticLogFileName value="false" /> <!-- 날짜별로 파일 이름 변경 -->
			<layout type="log4net.Layout.PatternLayout"> <!-- 로그 형식 지정 -->
				<conversionPattern value="[%date] %message%newline" /> <!-- 로그 형식 지정	-->
			</layout>
		</appender>

		<root>
			<level value="ALL"/> <!-- 모든 로그 레벨 허용 -->
			<appender-ref ref="RollingFileAppender"/> <!-- RollingFileAppender 사용 -->
		</root>
	</log4net>
</configuration>